

<div class="ui segment">
  <h1>HOTEL API Page</h1>

  <a class="ui blue basic button">
    <i class="icon user"></i>
    Open GraphQL
  </a>

  <a class="ui blue basic button" her>
    <i class="icon user"></i>
    Login
  </a>
</div>